<h1>Most Popular Secrets</h1>

<a href="back">Back</a>
    @{ DateTime d= DateTime.Now;
      int times=0;
    }

@foreach(var post in @ViewBag.allPosts){
    bool liked = false ;
    foreach(var like in post.Likes){
    if(@ViewBag.user == like.User){
        liked = true ;
    }

    } 
    if(@ViewBag.user.UserId == post.UserId){
        <p>@post.Post_Content.   ( @post.Created_At ) @post.likeCount Likes<a href="secDelete/@post.PostsId"> Delete</a></p>

    
    }
    
    else{

        if(liked){
        <p>@post.Post_Content. ( @post.Created_At) @post.likeCount Likes<span style="font-weight: bold" > You Liked this</span></p>    
        }
        else{
        <p>@post.Post_Content. ( @post.Created_At)  @post.likeCount Likes<a href="secLikePost/@post.PostsId"> Like</a></p>

        }
    }
    
    

    
}


